$back-color: rgb(255, 255, 255);
$navbar-color: rgb(219, 216, 216);
$banner-background: url("../assets/portada/biblio.jpg");
$solution-background: url("../assets/fondos/fondo_soluciones.png");
$cage-background: rgb(227, 194, 227);
$brand-color: #772953;
$solution-background: #f0e1e9;
$title-font-color: white;
$box-color: rgb(240, 240, 240);

$formbackcolor: rgb(56, 55, 55);
$selectbackcolor: rgb(83, 77, 77);
$formcolor: #cc8bae;
$boxshadow: 1px 2px 10px #3a165e;

.support {
  margin: 90px 60px 90px 60px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  .document {
    display: flex;
    flex-direction: column;

    margin: 0px 360px 10px 360px;
    padding: 20px;
    box-sizing: border-box;

    border-radius: 8px;
    box-shadow: $boxshadow;

    .header {
      margin: 30px 0px 30px 0px;
      h1 {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;

        color: $brand-color;
      }
      p {
        display: flex;
        justify-content: center;
        color: $brand-color;
        font-weight: 500;
      }
    }

    .types {
      margin: 30px 0px 30px 0px;
      a {
        text-decoration: none;
      }
      .cage {
        display: flex;
        flex-direction: row;
        margin: 10px 35px 10px 35px;
        padding: 30px;

        border-radius: 8px;
        box-shadow: $boxshadow;

        h3,
        p {
          margin-bottom: 8px;
        }
        h3 {
          color: $brand-color;
        }

        .icon {
          margin-right: 30px;
          align-content: center;
        }
        .data {
          align-content: center;
          .icon {
            display: flex;
            justify-content: flex-end;
          }
        }
      }
    }
  }
  @media (width <= 1440px) {
    .document {
      margin-inline: 0px;
    }
    padding: 0px 160px;
  }

  @media (width <= 1024px) {
    padding: 0px;
  }

  @media (width <= 768px) {
    .document .types .cage {
      padding: 15px;
    }
  }

  @media (width <= 425px) {
    margin: 30px 0px;
    .document {
      box-shadow: none;

      p {
        text-align: center;
      }

      .types {
        margin: 0px;
        .cage {
          margin: 10px 10px;

          img {
            width: 50px;
          }

          p {
            text-align: left;
          }
        }
      }
    }
  }

  @media (width <= 375px) {
    .document .types .cage {
      flex-direction: column;

      .icon {
        display: flex;
        margin: 0px 0px 5px;
        justify-content: flex-end;
      }
    }
  }
}
